.rankBox {
width: fit-content;
display: flex;
flex-direction: column;
align-items: start;
  .rank {
    display: flex;
    .title {
      padding: 1rem;
      /* border-radius: 0.5rem; */
      text-align: center;
      transition: all;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      width: 6rem;
      height: 8rem;
      &:hover {
        border: 2px solid black;
      }
      cursor: pointer;
    }
    .details {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .name {
        text-align: center;
      }
      .image {
        height: 6rem;
        width: fit-content;
        margin-block: auto;
        aspect-ratio: 150/109;
      }
    }
  }
}
.nextToRank {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-inline: auto;
  .name {
    font-size: 1rem;
    text-align: center;
  }
  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 150/109;
    .image {
      height: 6rem;
    }
  }
}
.main {
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: space-between;
  flex-wrap: wrap;
}
